{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <h2 class="mb-4">Receive auth token</h2>
                <form action="{{ path('ajax_get_over_here') }}" id="jwt-token-form" class="mb-5 form-js" method="post">
                    <div class="form-group row">
                        <label for="authEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="authEmail" value="phonexa.test@gmail.com" name="username">
                            <small class="form-text text-muted">phonexa.test@gmail.com / maxsprite.work@gmail.com</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="authPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="authPassword" placeholder="Password" value="demo" name="password">
                            <small class="form-text text-muted">demo / demo</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 offset-2">
                            <button type="submit" class="btn get-over-here btn-primary py-2 px-4">
                                <span class="spinner spinner-border spinner-border-sm mr-2 d-none" role="status" aria-hidden="true"></span>
                                GET OVER HERE!
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <h2 class="mb-4">Send data</h2>
                    </div>
                    <div class="col-sm-12 col-md-8">

                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName">Type</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="requestType" id="requestType1" value="xml" checked>
                            <label class="form-check-label" for="requestType1">XML</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="requestType" id="requestType2" value="json">
                            <label class="form-check-label" for="requestType2">JSON</label>
                        </div>
                    </div>
                </div>
                <form action="{{ path('ajax_create_transaction') }}" method="post" id="transaction-form" class="form-js mb-5">
                    <input type="hidden" id="token" name="token">
                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" value="Vasya" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" value="Pupkin" required>
                    </div>
                    <div class="form-group">
                        <label for="dateOfBirth">Date of birth</label>
                        <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" value="1984-07-31" required>
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="number" class="form-control" id="salary" name="salary" value="1000" required>
                    </div>
                    <div class="form-group">
                        <label for="creditScore">Credit score</label>
                        <input type="text" class="form-control" id="creditScore" name="creditScore" value="good" required>
                    </div>
                    <button type="submit" class="btn subziro btn-primary col-md-12 py-2 px-4 font-weight-bold">
                        <span class="spinner spinner-border spinner-border-sm mr-2 d-none" role="status" aria-hidden="true"></span>
                        SUBMIT
                    </button>
                </form>
            </div>
            <div class="col-sm-12 col-md-5">
                <h2 class="mb-4">Response</h2>

                <textarea id="result-response" class="form-control" rows="15"><--- Before start we need get JWT token</textarea>
            </div>
        </div>
    </div>
{% endblock %}

