<?xml version="1.0" encoding="UTF-8"?>
<userInfo version="1.6">
    <returnCode>0</returnCode>
    <returnCodeDescription>ERROR</returnCodeDescription>
    <returnError>Lead not Found</returnError>
</userInfo>
