<?xml version="1.0" encoding="UTF-8"?>
<userInfo version="1.6">
    <returnCode>1</returnCode>
    <returnCodeDescription>SUCCESS</returnCodeDescription>
    <transactionId>AC158457A86E711D0000016AB036886A03E7</transactionId>
</userInfo>