$body-color: #444;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

.btn.get-over-here {
  background: rgba(241,231,103,1);
  background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
  background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
  border: none;
  color: #444;
  font-weight: bold;

  &:hover {
    -webkit-box-shadow: 0px 2px 50px 5px rgba(231,166,26,0.3);
    -moz-box-shadow: 0px 2px 50px 5px rgba(231,166,26,0.3);
    box-shadow: 0px 2px 50px 5px rgba(231,166,26,0.3);
  }
}

#result-response {
  background-color: #696969;
  color: #f1e767;
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: 0 0 7px rgb(128, 128, 128);
  white-space: pre-wrap;
  border: none;
}