<?xml version="1.0"?>
<userInfo version="1.6">
    <firstName>{{ data['firstName'] }}</firstName>
    <lastName>{{ data['lastName'] }}</lastName>
    <salary>{{ data['salary'] }}</salary>
    <dateOfBirth>{{ data['dateOfBirth'] }}</dateOfBirth>
    <creditScore>{{ data['creditScore'] }}</creditScore>
</userInfo>
