<div class="container mb-5">
<nav class="navbar navbar-expand-lg navbar-light border-bottom p-0 py-4">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <i class="far fa-hand-peace mr-2"></i>
        PHP
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://drive.google.com/file/d/18MM1kTLGXD6DOyagr_CZv7iJ0z5IIXUh/view?usp=sharing" target="_blank">About</a>
            </li>
        </ul>
    </div>
</nav>
</div>